#contact{
	background-color: #EC4863;
	padding: 10px 0 10px 0;
	color: #fff;
	margin-top: 20px;
	.col-md-4{
		margin-top: 30px;
		ul{
			font-family: 'Lato', sans-serif;
			font-size: 12pt;
			padding-top: 30px;
		}
	}
	.col-md-12{
		h1{
			font-family: 'Lato', sans-serif;
			font-weight: 100;
			font-size: 60pt;
		}
	}
}

