<div id="contact">
	<div class="container">
		<div class="row">
				<div class="col-md-12">
					<h1 class="text-center">Contact</h1>
				</div>
				<div class="col-md-offset-4 col-md-4">
					<ul class="text-center list-unstyled">
						<li>Tel: 06-27xx-xxx</li>
						<li>Cell: 09xx-xxx-xxx</li>
						<li>Address: 臺南市永康區崑大路1090號</li>
					</ul>
				</div>
		</div>
	</div>
</div>