
	<div id="list">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12">
                	<h1 class="text-center">測試用表單</h1>
                	<h4 class="label label-danger  col-md-2 col-md-offset-5 ">*必填</h4>
            	</div><!-- col-md-12 -->
            	
        
        <div class="list-form col-md-8 col-md-offset-2">
            <form action="https://docs.google.com/forms/d/1FhfdI_GAtFlZM8X4dMEI8adjzPjjT0DLQ2igkH0MkXo/formResponse"
            method="POST" >
					<label class="ss-q-item-label" for="entry_479225448">
					<div class="ss-q-title">
						<h3>名字<span class="ss-required-asterisk">*</span></h3>
					<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
					</div>
					<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
					</label>
					<input type="text" name="entry.479225448" value="" class="form-control" id="entry_479225448" dir="auto" aria-label="名字  " aria-required="true" required="" title="">

					<label class="ss-q-item-label" for="entry_724951970">
					<div class="ss-q-title">
						<h3>聯絡方式<span class="ss-required-asterisk">
						*</span></h3>
					<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
					</div>
					<div class="ss-q-help ss-secondary-text" dir="ltr"></div>
					</label>
					<input type="text" name="entry.724951970" value="" class="form-control" id="entry_724951970" dir="auto" aria-label="聯絡方式  " aria-required="true" required="" title="">
					



                    <label class="ss-q-item-label" for="entry_1792731506"><div class="ss-q-title"><h3>購買項目<span>*</span></h3>
					<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
					<ul class="ss-choices ss-choices-required" role="group" aria-label="購買項目  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.84845294" value="&#25163;&#27231;" id="group_84845294_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
					<span class="ss-choice-label">手機</span>
					</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.84845294" value="&#32972;&#21253;" id="group_84845294_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
					<span class="ss-choice-label">背包</span>
					</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.84845294" value="&#30456;&#27231;" id="group_84845294_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
					<span class="ss-choice-label">相機</span>
					</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.84845294" value="&#31558;&#38651;" id="group_84845294_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
					<span class="ss-choice-label">筆電</span>
					</label></li></ul>

	                <div class="list-button">
	                       <button class="btn btn-success" type="submit" name="submit">送出</button>
                    </div><!-- list-button --> 
             </form>         
        </div><!-- row -->
    </div><!-- container -->
</div><!-- list -->

