<div id="photo">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<% 6.times do %>
				<div class="col-md-2">
					<img class="center-block" src="<%= lorem_image("180X150") %>" />
				</div>
				<% end %>
				<% 6.times do %>
				<div class="col-md-2">
					<img class="center-block" src="<%= lorem_image("180X150") %>" />
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>