<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
</head>
<body>
	<div id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>TEAM</h1>
				</div>
				<% 3.times do %>
				  <div class="col-sm-6 col-md-4 ">
				  	<div class="box-team">
				   	<img src="<%= lorem_image("300X200") %>" />
				   	<div class="box-team-text">
				   	<h3>test1</h3>
				   	<p><%= zh_lorem_words(50) %></p>
				   	</div>
				   	</div>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>